body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*
        'Montserrat'
        'Lato'
        'Open Sans'
    */
    height: 100vh;
    background: linear-gradient(90deg, #0d70b3,  #00e1ff);
    overflow: hidden;
}

                                                /*for /home*/
.header {
    margin: 0;
    padding: 0;
}

.header h1 {
    margin: 30px 0 0 100px;
    font-size: 50px;
    color: whitesmoke;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    padding: 10px 15px;
    top: 400px;
}

.login_link {
    left: 300px;
}

.signup_link {
    left: 500px;
}

.login_link:hover,
.signup_link:hover {
    border: 2px solid black;
    background-color: rgb(70, 196, 228);
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.header img {
    position: absolute;
    top: -50px;
    left: 1000px;
}


                                                /*for /login & /register*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}   

.text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.text_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}

.text_field input:focus ~label,
.text_field input:valid ~label {
    top: -5px;
    color: #2691d9;
}

.text_field input:focus ~span::before,
.text_field input:valid ~span::before {
    width: 100%;
}

.forgot {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.forgot:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: 0.5s;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup-link a {
    color: #2691d9;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

fieldset {  
    border: none;
    text-align: center;
}                                    